<%- include('includes/head', { title: 'Reset Password' }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<form
			action="/auth/reset-password/<%= token %>"
			method="POST"
			class="grid gap-8"
		>
			<h1 class="text-4xl">Reset Password</h1>

			<%- include('includes/forms/passwordField', { name: 'password' }) %>
			<%- include('includes/forms/confirmPasswordField', { legend:
			'Confirm Password' }) %> <% if (typeof id !== 'undefined' && id ===
			'global') { %>
			<p class="text-error text-xs"><%= message %></p>
			<% } %>

			<div class="w-full grid justify-items-end">
				<button type="submit" class="btn btn-primary">
					Reset Password
				</button>
			</div>
		</form>
	</section>
</main>
<%- include('includes/foot') %>

<script type="module">
	const passwordInput = document.querySelector("input[name='password']");
	const confirmPasswordInput = document.querySelector(
		"input[name='confirmPassword']"
	);
	const errorMessage = document.querySelector("#password-match-error");
	const confirmPasswordLabel = document.querySelector(
		"#confirm-password-label"
	);

	confirmPasswordInput.addEventListener("input", () => {
		if (passwordInput.value !== confirmPasswordInput.value) {
			errorMessage.classList.remove("hidden");
			confirmPasswordLabel.classList.add("input-error");
		} else {
			errorMessage.classList.add("hidden");
			confirmPasswordLabel.classList.remove("input-error");
		}
	});
</script>
