<%- include("includes/head", { title: "Forgot Password" }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<form action="/auth/forgot-password" method="POST" class="grid gap-8">
			<h1 class="text-4xl">Forgot Password</h1>
			<p>
				Enter your username or email address and we will send you a link to
				reset your password.
			</p>

			<% if (typeof next !== 'undefined') { %>
			<input type="hidden" name="next" value="<%= next %>" />
			<% } %>

			<fieldset class="fieldset">
				<legend class="fieldset-legend">Username or email</legend>
				<label class="input w-full">
					<%- include('icons/user') %>
					<input
						required
						type="text"
						name="username"
						placeholder="username69"
					/>
				</label>
			</fieldset>

			<% if (typeof id !== 'undefined' && id === 'global') { %>
			<p class="text-error text-xs"><%= message %></p>
			<% } %>

			<div class="w-full flex justify-end items-center gap-2">
				<button type="submit" class="btn btn-primary">
					<%- include("icons/send") %> Send
				</button>
			</div>
		</form>
	</section>
</main>
<%- include("includes/foot") %>
