<%- include('includes/head', { title: title }) %>
<main class="flex flex-col items-center min-h-screen py-10">
	<section
		id="posts"
		class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 max-w-6xl w-full rounded-box gap-6 p-6"
	>
		<%for (const post of posts) { %> <%- include('includes/postCard', {
		post: post }) %> <% } %>
	</section>
	<div class="flex justify-end max-w-6xl w-full p-6">
		<div class="flex gap-2">
			<% if (currentPage > 1) { %>
			<a href="/?page=<%= currentPage - 1 %>" class="btn btn-primary">
				Previous
			</a>
			<% } else { %>
			<a href="/?page=" class="btn btn-primary" disabled>Previous</a>
			<% } %>
			<span class="text-sm btn btn-primary">
				Page <%= currentPage %> of <%= totalPages %>
			</span>
			<% if (currentPage < totalPages) { %>
			<a href="/?page=<%= currentPage + 1 %>" class="btn btn-primary">
				Next
			</a>
			<% } else { %>
			<a href="/?page=" class="btn btn-primary" disabled>Next</a>
			<% } %>
		</div>
	</div>
</main>
