<%- include("includes/head", { title: "Login" }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<form action="/auth/login" method="POST" class="grid gap-8">
			<h1 class="text-4xl">Login</h1>

			<% if (typeof next !== 'undefined') { %>
			<input type="hidden" name="next" value="<%= next %>" />
			<% } %>

			<fieldset class="fieldset">
				<legend class="fieldset-legend">Username or email</legend>
				<label class="input w-full">
					<%- include('icons/user') %>
					<input
						required
						type="text"
						name="username"
						placeholder="username69"
					/>
				</label>
			</fieldset>

			<fieldset class="fieldset">
				<legend class="fieldset-legend">Password</legend>
				<label class="input w-full">
					<%- include('icons/password') %>
					<input
						required
						type="password"
						name="password"
						placeholder="Password"
					/>
				</label>
			</fieldset>

			<% if (typeof id !== 'undefined' && id === 'global') { %>
			<p class="text-error text-xs"><%= message %></p>
			<% } %>

			<!-- TODO add "new: create account" -->
			<div class="w-full flex justify-end items-center gap-2">
				<a
					href="/auth/forgot-password"
					class="btn btn-primary btn-link btn-sm text-base-content"
				>
					Forgot password?
				</a>
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>
	</section>
</main>
<%- include("includes/foot") %>
