<div
	class="grid grid-cols-2 bg-base-200 border border-base-300 p-10 gap-10 rounded-box"
>
	<!-- prettier-ignore -->
	<%- include("includes/postSingle.ejs", { post: posts[0] }) %>
	<%- include("includes/postSingle.ejs", { post: posts[1] }) %>
	<div class="col-span-full flex justify-between items-center gap-10">
		<!-- prettier-ignore -->
		<%- include("includes/postVoteScore.ejs", { posts, index: 0 }) %>
		<%- include("includes/postProgressBar.ejs", { posts }) %>
		<%- include("includes/postVoteScore.ejs", { posts, index: 1 }) %>
	</div>
</div>
