<% if (posts.length >= 2) { %>
<div
	class="grid grid-cols-2 bg-base-200 border border-base-300 p-10 gap-10 rounded-box"
	selector-post-dual
	data-post-1="<%= posts[0]._id %>"
	data-post-2="<%= posts[1]._id %>"
>
	<!-- prettier-ignore -->
	<%- include("includes/postSingle.ejs", { post: posts[0] }) %>
	<%- include("includes/postSingle.ejs", { post: posts[1] }) %>
	<div
		class="col-span-full flex justify-between items-center gap-10"
		selector-post-bottom-score-bar
	>
		<%- include("includes/postBottomScoreBar.ejs", { posts }) %>
	</div>
</div>
<% } %>
