<%- include('includes/head', { title: 'Profil' }) %>
<main class="grid place-items-center min-h-screen py-10">
	<section
		class="grid gap-10 max-w-xl w-full bg-base-200 border border-base-300 rounded-box p-10"
	>
		<h1 class="text-4xl">Profil</h1>
		<p>Hello, <%= user.username %>!</p>

		<% if (!user.isEmailVerified) { %>
		<div
			role="alert"
			class="rounded-field bg-warning/15 grid place-items-center gap-4 p-8"
		>
			<%- include('icons/warning') %>
			<p>Your email is not verified!</p>
			<a href="/auth/verify-email" class="btn btn-warning"
				>Send verification email</a
			>
		</div>
		<% } %>

		<fieldset class="fieldset grid grid-cols-[1fr_auto] gap-2">
			<legend class="fieldset-legend">Email</legend>
			<label class="input w-full">
				<%- include('icons/email') %>
				<input disabled type="email" name="email" value="<%= user.email %>" />
			</label>
			<a href="/auth/change-email" class="btn btn-primary btn-block">
				<%- include('icons/edit') %>
			</a>
		</fieldset>

		<fieldset class="fieldset grid grid-cols-[1fr_auto] gap-2">
			<legend class="fieldset-legend">Username</legend>
			<label class="input w-full">
				<%- include('icons/user') %>
				<input
					disabled
					type="text"
					name="username"
					value="<%= user.username %>"
				/>
			</label>
			<a href="/auth/change-username" class="btn btn-primary btn-block">
				<%- include('icons/edit') %>
			</a>
		</fieldset>

		<div class="flex justify-end">
			<a href="/auth/change-password" class="btn btn-primary">
				<%- include('icons/edit') %> Change password
			</a>
		</div>

		<div class="flex justify-between items-center gap-4">
			<p>Account creation date: <%= user.createdAt.toLocaleDateString() %></p>
			<a href="/auth/delete-account" class="btn btn-error">Delete account</a>
		</div>
	</section>
</main>
<%- include('includes/foot') %>
