<% if (post) { %>
<div
	class="flex flex-col bg-base-200 border border-base-300 gap-4 p-4 rounded-box"
	data-post-id="<%= post._id %>"
>
	<div class="grid grid-cols-[1fr_auto] items-center gap-2">
		<%- include("galleryLabelTitle", { post }) %>
	</div>
	<a href="/gallery/edit/<%= post._id %>">
		<%- include("postImage", { imageUrl: post.imageUrl }) %>
	</a>
	<div class="flex flex-col gap-2">
		<div class="flex items-center">
			<a
				href="/gallery/edit/<%= post._id %>"
				class="btn btn-square btn-ghost"
			>
				<%- include("../icons/pencil.ejs") %>
			</a>
		</div>
	</div>
	<% } %>
</div>
