<% if (post) { %>
<div
	class="flex flex-col bg-base-200 border border-base-300 gap-4 p-4 rounded-box"
	data-post-id="<%= post._id %>"
>
	<!-- prettier-ignore -->
	<%- include("postLabelTitle", { post }) %>
	<%- include("postImage", { imageUrl: post.imageUrl }) %>
	<div class="flex flex-col gap-2">
		<div class="flex items-center gap-4">
			<form
				class="flex items-center"
				action="/post/<%= post.isLiked ? "unlike" : "like" %>/<%= post._id %>"
				method="post"
			>
				<button class="btn btn-square btn-ghost">
					<!-- prettier-ignore -->
					<% if (post.isLiked) { %>
						<%- include("../icons/heartFilled.ejs", { svgClass: "fill-primary" }) %>
					<% } else { %>
						<%- include("../icons/heart.ejs") %>
					<% } %>
				</button>
				<p class="text-sm font-bold"><%= post.likes.length %></p>
			</form>
			<div class="flex items-center">
				<a
					href="/post/id/<%= post._id %>"
					class="btn btn-square btn-ghost"
				>
					<%- include("../icons/messageCircle.ejs") %>
				</a>
				<p class="text-sm font-bold"><%= post.comments.length %></p>
			</div>
		</div>
		<% if (post.lastComment) { %>
		<div class="flex flex-col gap-2">
			<div class="flex gap-2">
				<p class="text-sm font-bold">
					<%= post.lastComment.userId.username %>
				</p>
				<p class="text-sm text-gray-500">
					<!-- prettier-ignore -->
					<%= new Date(post.lastComment.createdAt).toLocaleDateString("en-US", {
						year: "numeric",
						month: "long",
						day: "numeric",
						hour: "numeric",
						minute: "numeric",
						hour12: false,
					}) %>
				</p>
			</div>
			<p class="line-clamp-1"><%= post.lastComment.content %></p>
		</div>
		<% } %>
	</div>
</div>
<% } %>
